altair==4.2.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
bson==0.5.10
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
colormath==3.0.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.3
executing==0.8.3
fastapi==0.75.1
fastjsonschema==2.15.3
Fiona==1.8.21
fonttools==4.33.2
GeoAlchemy2==0.11.1
geojson==2.5.0
geopandas==0.10.2
greenlet==1.1.2
h11==0.13.0
h3==3.7.3
h3pandas==0.2.3
httptools==0.4.0
idna==3.3
ipykernel==6.9.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mistune==0.8.4
munch==2.5.0
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.1
networkx==2.8
notebook==6.4.10
numpy==1.22.3
orjson==3.6.7
OSMPythonTools==0.3.4
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pip==21.2.4
prometheus-client==0.14.0
prompt-toolkit==3.0.20
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.9.0
pydeck==0.7.1
Pygments==2.11.2
pyparsing==3.0.7
pyproj==3.3.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
setuptools==58.0.4
Shapely==1.8.1.post1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.2
spectra==0.0.11
SQLAlchemy==1.4.34
stack-data==0.2.0
starlette==0.17.1
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.1.1
ujson==5.2.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.2
wheel==0.37.1
widgetsnbextension==3.6.0
xarray==2022.3.0
